on:
  push:

name: CI
jobs:
  build:
    name: Build
    needs: []
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
      - name: Install Dependencies
        run: bun install --frozen-lockfile
      - name: Build
        run: bun run build
      - name: Upload Artifact
        uses: actions/upload-artifact@v6
        with:
          name: build-artifact
          path: dist

  secret-detection:
    name: gitleaks
    needs: []
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: gitleaks
        uses: gitleaks/gitleaks-action@v2

  test:
    name: Test
    needs:
      - build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
      - name: Install Dependencies
        run: bun install --frozen-lockfile
      - name: Test
        run: bun run test run

  containerize:
    name: Containerize
    needs:
      - build
      - test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Download Artifact
        uses: actions/download-artifact@v7
        with:
          name: build-artifact
          path: dist
      - name: Display structure of downloaded files
        run: ls -lah dist